<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The App</title>
    <link href="~/css/Bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/auth.css" />
    <link rel="stylesheet" href="~/css/activity.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
</head>
<body>
    <header class="page-header">
        
    </header>
    @RenderBody()
    <footer>
        
    </footer>
</body>
<script src="~/js/Bootstrap/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>